{% extends 'base.html' %}

{% block body %}
        <div class="container mt-3">
            <h2 style="color: orange">Thiago Antonio da Silva</h2>
            <h6>Estudante de Programação</h6>
        <hr>
        <h6>(41) 98863-1699</h6>
        <a style="color:black" href="mailto:thiago100antonio@gmail.com?subject=Perguntas" title="">thiago.antonio100@gmail.com</a>
        <br>
        <h5> <form action="https://www.linkedin.com/in/thiago-antonio-51b6741a2/"  > </h5>
            <input class="contato" type="submit" value="Linkedin">
        </form>
{% endblock %}